body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    user-select: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}
input,button:focus {
    outline: none!important
}

/*~~~HEADER~~~*/
.header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
.header__input {
    width: 100%;
    height: 43px;
    border: 1px solid #e1e1e1;
}
.header-margin {
   margin-top: 15px;
   margin-bottom: 10px; 
}
.header__icon-search {
    color: #e3e3e3;
    position: absolute;
    right: 25px;
    top: 5px;
}
.header__basket-price {
    font-size: 35px;
    font-weight: 700;
    padding-left: 15px;
    color: #a1a1a1;
    font-family: 'Bebas Neue', cursive;
/*    line-height: 0;*/
}
.header-block {
    background-color: #4ccfc1;
}
.navigation__link {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-left: 24px;
    font-weight: 500;
    position: relative;
}

.vertical-line {
    background-color: white;
    width: 2px;
    height: 25px;
    margin-top: 5px;
    margin-left: 24px;
}
.navigation__link:hover {
    color: white;
    text-decoration: none;
/*    transition: all 0.3s linear;*/
    position: relative;
    cursor: pointer;
}
.navigation__link::after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 3px; 
	background-color: white; 
	content: "";
	transition: 0.3s ease-out; 
}

.navigation__link:hover::after,
.navigation__link:focus::after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.header-main {
    background-color: #41c2b6;
}

.header__slider-block {
    padding-top: 80px;
    padding-bottom: 20px;
}
.slider__title {
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Bebas Neue', cursive;
}
.slider__text {
    color: white;
    font-size: 17px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.slider__item {
    padding-bottom: 30px;
}
.slider__btn {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
}
.slider__btn:hover {
    color: #41c2b6;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    transition: all 0.5s linear;
    margin-top: 15px;
}

.categories-slider {
    
}
.slider__item-two {
    padding-top: 40px;
}
.border-slider {
    border-right: 2px solid #e7e7e7;
}
.slider-two__title {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
}
.slider-two__btn {
    background-color: #3cc395;
    border-radius: 5px;
    border: 2px solid #3cc395;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
}
.slider-two__btn:hover {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #3cc395;
    color: #3cc395;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    transition: all 0.5s linear;
}
.featured {
    background-color: #3ec8b1;
}
.featured__title {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding-top: 15px;
    padding-bottom: 10px;
}
.procudts {
    padding-bottom: 70px;
}
.products__item {
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    border-bottom: 4px solid #3cc395;
    margin-top: 40px;
    margin-bottom: 15px;
}
.products__block {
    padding-top: 40px;
}
.products__img {
    padding-top: 30px;
}
.products__title {
    text-transform: uppercase;
    color: #afafaf;
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;
    margin-top: 25px;
}
.products__price {
    text-transform: uppercase;
    color: #afafaf;
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;

}
.products__btn {
    color: white;
    background-color: #3cc395;
    border: 2px solid #3cc395;
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}
.products__btn:hover {
    color: #3cc395;
    background-color: white;
    border: 2px solid #3cc395;
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    transition: all 0.5s linear;
}

.footer {
    background-color: #3cc3b5;
    padding-bottom: 30px;
}
.footer__title {
    padding-top: 30px;
    font-size: 28px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.footer__text {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
.footer__text:hover {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    text-decoration: none;
}

.copyright {
    background-color: #2da89b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright__title {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
/*~~~MEDIA~~~*/
@media (max-width:1200px) {
.navigation__link {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    font-weight: 500;
}
    .border-slider {
        border: none;
    }
.vertical-line {
    background-color: white;
    width: 2px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
}
}
@media (max-width:991px) {
    .vertical-line {
        display: none;
}
.navigation__nav {
    padding-top: 10px;
}
.navigation__link {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-left: 30px;
    font-weight: 500;
}
}
@media (max-width:767px) {
   .slider__img{
    display: none!important;
}
.slider-two__title {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
}
.slider-two__btn {
    background-color: #3cc395;
    border-radius: 5px;
    border: 2px solid #3cc395;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
}
.slider-two__btn:hover {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #3cc395;
    color: #3cc395;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    transition: all 0.5s linear;
}
}